.container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  min-width: 300px;
  max-width: 500px;
  font-size: larger;
}


:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}


mat-card-title {
  font-size: xx-large;
  font-weight: 600;
  text-align: center;
}

mat-card-content {
  display: flex;
  justify-content: center;

  font-size: x-large;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}


/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 150px;
  border-radius: 25%;
}

/* Add padding to containers */
.containerdiv {
  padding: 16px;
}




