.container {
  display: flex;
  justify-items: center;
}

.card {
  max-width: 320px;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 darkslategray;
  transition: 0.5s;
  -ms-transform: scale(0.7); /* IE 9 */
  -webkit-transform: scale(0.7); /* Safari 3-8 */
  transform: scale(0.7)
}

.card:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
  box-shadow: 0px 8px 16px  darkslategray;
  border-radius: 25px;
  z-index: 1;
}

.card-image {
  height: 250px;
  width: 300px;
}

.card-image:hover {
  box-shadow: 4px 4px 8px black;
  background-size: cover;
  border-radius: 10px;
}

.avatar-img:hover {
   -ms-transform: scale(2); /* IE 9 */
  -webkit-transform: scale(2); /* Safari 3-8 */
  transform: scale(1.5);
  box-shadow: 4px 4px 8px black;
  border-radius: 5px;
}

.avatar-img {
  background-size: cover;
  border-radius: 10px;
}
